body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header_index {
    background-color: #31013f;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.header_index img {
    max-width: 50%;
    height: 20%;
}

main {
    display: flex;
    min-height: 400px;
}

.menu {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #31013f;
    font-weight: bold;
}

.section {
    flex: 1;
    padding: 100px;
    background-color: #fff;
    text-align: justify;
}

.footer_index {
    background-color: #31013f;
    color: #fff;
    text-align: center;
    padding: 15px;
}