/* thema.css - Bagian I & II */
p {
  text-align: center;
  color: #ff0000;    /* merah untuk semua <p> */
  line-height: 1.5;
}

/* id selector */
#para1 {
  text-align: right;
  color: green;
}

/* class selector */
.para2 {
  text-align: left;
  color: blue;
}

/* grouping selector */
h1, h2, h3 {
  text-align: right;
  color: blue;
}

/* styling link contoh */
a, a:link, a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}