*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0A98EE;
    text-align:center;
}
h1{
    text-align: center;
}
aside{
    height: 710px;
    width: 20%;
    background-color: #44AEEE;
    float: left;
}
ul {
    list-style: none;
    margin: 10px;
    padding: 20px;
}
li{
    margin: 10px;
}
section{
    padding: 10px;
    width:100%;
    background-color: rgb(255, 255, 255);
}
footer{
    padding: 5px;
    background-color: #0A98EE;
    color: white;
    height: 50px;
    text-align: center;
}
/* Selector untuk tautan yang belum diklik */
a{
    color: rgb(255, 255, 255); /* Mengubah warna teks menjadi biru */ 
    text-decoration: none; /* menghapus garis bawah pada teks */
} 
/* Selector untuk tautan yang sudah diklik */
a:visited {
    color: white; /* Mengubah warna tautan yang sudah diklik */
}
/* Selector untuk tautan saat dihover (ketika kursor berada di atasnya) */ 
a:hover {
    color:rgb(255, 0, 0); /* Mengubah warna tautan saat dihover menjadi merah */ 
    text-decoration: none; /* Menghapus garis bawah saat dihover */
} 
/* Selector untuk tautan yang sedang diaktif (saat diklik) */ 
a:active {
    color:green; /* Mengubah warna tautan saat diaktif menjadi hijau */
}
