p{
    text-align: center;
    color: red;
}
#para1{
    text-align: right;
    color: green;
}
.para2{
    text-align: left;
    color:blue;
}

h1, h2, h3{
    text-align: right;
    color: blue;
}

/* Selector untuk tautan yang belum diklik */
a{
    color: blue; /* Mengubah warna teks menjadi biru */ 
    text-decoration: none; /* menghapus garis bawah pada teks */
} 
/* Selector untuk tautan yang sudah diklik */
a:visited {
    color: yellow; /* Mengubah warna tautan yang sudah diklik */
}
/* Selector untuk tautan saat dihover (ketika kursor berada di atasnya) */ 
a:hover {
    color:red; /* Mengubah warna tautan saat dihover menjadi merah */ 
    text-decoration: none; /* Menghapus garis bawah saat dihover */
} 
/* Selector untuk tautan yang sedang diaktif (saat diklik) */ 
a:active {
    color:green; /* Mengubah warna tautan saat diaktif menjadi hijau */
}