p {color: white; 
    background-color: #4974a3; 
    padding: 15px; 
    border-radius: 5px; 
    border: 2px solid #8495ee;
}
#para1 {
    color: white; 
    background-color: #3b5e84; 
    padding: 15px; 
    border-radius: 5px; 
    border: 2px solid #4471a0; 
}
.para2 {
    color: black; 
    background-color: #28a745; 
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #218838; 
}
h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
    text-align: center;
}
h1 {
    color: darkred;
    font-size: 2.5em;
}
h2 {
    color: darkblue;
    font-size: 2.2em;
}
h3 {
    color: darkgreen;
    font-size: 1.8em;
}
h4 {
    color: rgb(206, 158, 100);
    font-size: 1.5em;
}